<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="icon" href="../img/icon.png">

    
    <link rel="stylesheet" href="../CSS/style_login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' >

</head>
<body>
    
    <div class="page">

        <form action="login.htm">

            <h1>Find your account?</h1>

            <div class="Register">

                <p>Enter your email, phone, or username and we'll send you a link to get back into your account.</p>

            </div>
            <div class="input">

                <input type="email" placeholder="Email, Phone, or Usermame" required>
                <i class='bx  bx-envelope'></i> 
            
            </div>

            <button type="submit" class="btn">Send login link</button>
            
            <div class="Register">

                <p>Don't have an account? <a href="sign_in.html">Sign in </a></p>

            </div>

            <div class="remember">
                <a href="login.htm"><br><br>Back to login</a>
            </div>

        </form>
    </div>
    
</body>
</html>

