
*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/backgrond/1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.page {

    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 30px 40px;
    border-radius: 15px;
}

.page h1 {

    font-size: 36px;
    text-align: center;
}
.page .input {

    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;   
} 
.input input {

    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(225, 225, 225, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input input::placeholder {
    color: white;
}
.input i {

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.page .remember {
    
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remember label input {

    accent-color: white;
    margin-right: 4px;
}
.remember a {

    color: white;
    text-decoration: none;
}
.remember a:hover {

    text-decoration: underline;
}
.page .btn {

    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 17px;
    color: #333;
    font-weight: 600;
}
.page .Register {

    font-size:  15px;
    text-align: center;
    margin: 20px 0 15px;
}
.Register p a{

    color: white;
    text-decoration: none;
}

.Register p a:hover{

    text-decoration: underline;
}