<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/style_login.css" />
    <link rel="icon" href="../img/icon.png">

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Sign in</title>
  </head>

  <body>
    <div class="page">
      <form action="login.htm">

        <h1>Sign in</h1>
        
        <div class="input">
          <input type="text" placeholder="Frist and last name" required />
          <i class="bx bxs-user"></i>
        </div>

        <div class="input">
          <input type="text" placeholder="Phone" required />
          <i class="bx bx-phone"></i>
        </div>

        <div class="input">
          <input type="text" placeholder=" Where do you live ?" required />
          <i class="bx bx-map"></i>
        </div>

        <div class="input">
          <input type="email" placeholder="Email" required />
          <i class="bx bx-envelope"></i>
        </div>

        <div class="input">
          <input type="password" placeholder="password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <div class="input">
          <input type="password" placeholder="Re-enter password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>

        <button type="submit" class="btn">Sign in</button>

        <div class="Register">
          <p>Have an account? <a href="login.htm">Log in</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
